html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.main {
	display: flex;
}

.bg {

	position: absolute;
	z-index: 1;
	margin-top: calc(25% - 324px);
	margin-bottom: calc(25% - 324px);
	margin-left: calc(50% - 581px);
	
}

.back {
	position: absolute;
	z-index: 3;
}

.icon2 {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% + 190px);
	margin-left: calc(50% - 520px);
}

.about {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% + 196px);
	margin-left: calc(50% + 465px);
}

.bartender {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% + 240px);
	margin-left: calc(50% + 467px);
}

.menu {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% + 284px);
	margin-left: calc(50% + 462px);
}

.contact {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% + 328px);
	margin-left: calc(50% + 462px);
}

h1 {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% - 260px);
	margin-left: calc(50% - 528px);
	font-family: adobe-fan-heiti-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 40px;
	color: white;
}

.page1 {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% - 190px);
	margin-left: calc(50% - 520px);
	font-family: adobe-fan-heiti-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 40px;
	color: white;
}

.page2 {
	position: absolute;
	z-index: 3;
	margin-top: calc(25% - 190px);
	margin-left: calc(50% - 520px);
	font-family: adobe-fan-heiti-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	line-height: 40px;
	color: white;
}
